/bin/

/.project

/.classpath

/.DS_Store

/working_datasets

/junk

/JavaApplication47

JavaApplication47/nbproject/genfiles.properties

JavaApplication47/nbproject/project.xml

JavaApplication47/nbproject/project.xml

JavaApplication47/build.xml

JavaApplication47/manifest.mf

JavaApplication47/build.xml

JavaApplication47/build.xml

JavaApplication47/manifest.mf

JavaApplication47/nbproject/build-impl.xml

JavaApplication47/nbproject/genfiles.properties
